<html>
    <body>
        <form method="post"  action="{% url 'passwordaction' %}">
            {% csrf_token %}
        <table>
            <tr>
                <th>oldpassword</th>
                <td><input type="text" name="oldpass"></td>
            </tr>
            <tr>
                <th>newpassword</th>
                <td><input type="text" name="newpass"></td>
            </tr>
            <tr>
                <th>conformpassword</th>
                <td><input type="text" name="conformpass"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="reset"></td>
            </tr>
        </table>
    </form>
    </body>
    {% if messages %}
    {% for msg in messages %}
    <script>
        alert('{{msg}}')
    </script>
    {% endfor %}
    {% endif %}
</html>