<html>
    <body>
        <form method="post" action="{% url 'forgotpassword2' %}">
            {% csrf_token %}
        <table>
            <tr>
                <th></th>
                <td></td>
                <input type="hidden" name="usname" value="{{view}}">
                </tr>
            <tr>
                <th>new password</th>
                <td><input type="text"  name="newpassword"></td>
            </tr>
            <tr>
                <th>conform password</th>
                <td><input type="text" name="conformnewpassword"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="reset"></td>
            </tr>
        </table>
    </form>
    </body>
    {% if messages %}
{% for msg in messages %}
<script>
    alert('{{msg}}')
</script>
{% endfor %}
{% endif %}
</body></html>
</html>