<html>
    <body>
        <form method="post" action="{% url 'forgotpassword1' %}">
        <table>
            {% csrf_token %}
            <tr>
                <th></th>
                <td></td>
                <input type="hidden" name="usname" value="{{view}}">
                </tr>
            <tr>
                <th>name</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>dob</th>
                <td><input type="text" name="dob"></td>
            </tr>
            <tr>
                <th>phone</th>
            <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="next"></td>
            </tr>
        </table>
    </form>
    </body>
</html>